@import "tailwindcss";

:root {
  /* DARK ACADEMIA (Default) */
  --bg-main: #0a0908;
  --bg-card: #49111c;
  --text-main: #f2f4f3;
  --border-main: #5e503f;
  --accent-main: #a9927d;
}

/* THE FIX: Changed from .light to :root.light */
:root.light {
  --bg-main: #f2f4f3;
  --bg-card: #ffffff;
  --text-main: #0a0908;
  --border-main: #a9927d;
  --accent-main: #5e503f;
}

@theme {
  --color-app-bg: var(--bg-main);
  --color-app-card: var(--bg-card);
  --color-app-text: var(--text-main);
  --color-app-border: var(--border-main);
  --color-app-accent: var(--accent-main);
}

body {
  background-color: var(--app-bg);
  color: var(--app-text);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}